*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: aliceblue;
    height: 5rem;
    line-height: 5rem;
}
.choices{
}
.parent{
    display: flex;
    justify-content: center;
    width:100vw;
    margin-top: 4rem;
}
.choices:hover{
    opacity: 0.5;
    cursor: pointer;
}
.score-board{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 2rem;
    gap: 3rem;
}
#user-score, #comp-score{
    font-size: 4rem;
}
#msg{
    background-color: black;
    color: white;
    margin-top: 3rem;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.msg-container{
    margin-top: 4rem;
}